<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></img>
    <p>Lugar para poner la barra de búsqueda</p>

    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <div>
        <ul>
            <li><a href="../views/offers.html">Ofertas</a></li>
            <li><a href="../views/shops.html">Tiendas Oficiales</a></li>
            <li><a href="../views/sell.html">Vender</a></li>
            <li><a href="../views/help.html">Ayuda</a></li>
            <br>
            <li><a href="../views/register.html">Creá tu cuenta</a></li>
            <li><a href="../views/login.html">Ingresá</a></li>
            <li><a href="../views/shopping.html">Mis compras</a></li>
        </ul>
    </div>
</head>
<body>
    <div>
        <h3>Basado en tus últimas vistas</h3>
        <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la Cafetera"></img>
        <p>$6.770</p>
        <p>20% OFF</p>
        <h4>Cafetera Moulinex</h4>
        <img src="images/img-macbook-pro-2019.jpg" alt="imagen de la MacBook"></img>
        <p>$230.000</p>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
        <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></img>
        <p>$70.500</p>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
        <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></img>
        <p>$23.200</p>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
    </div>
    <div>
        <h3>Ofertas</h3>
        <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la Cafetera"></img>
        <p>$6.770</p>
        <p>20% OFF</p>
        <h4>Cafetera Moulinex</h4>
        <img src="images/img-macbook-pro-2019.jpg" alt="imagen de la MacBook"></img>
        <p>$230.000</p>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
        <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></img>
        <p>$70.500</p>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
        <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></img>
        <p>$23.200</p>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
    </div>
</body>
<footer>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <br>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</html>